---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/navigation.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<p class="text-3xl font-bold underline text-black" id="top">main</p>
	</main>
</Layout>

<style>
	main {
		color: white;
	}
</style>