---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navigation from '../components/navigation.astro';
import Home from '../components/home.astro';
import Skills from '../components/skills.astro'
---

<Layout title="Welcome to Astro.">
	<main class="snap-y snap-mandatory w-screen overflow-scroll">
		<Home />
		<Skills />
	</main>
</Layout>

<style>
	main {
		color: white;
		height: 1000px;
	}
</style>