<section class="bg-slate-900 h-full snap-center" id="home">
  <div>
    <h1 class="text-3xl font-bold underline text-w hite" id="top">I am Ismael,</h1>
    <h2 class="text-3xl font-bold underline text-w hite" id="top">Full-Stack Developer</h2>
  </div>
</section>

