---
---
<nav class="p-4 bg-blue">
  <ul class="link-card flex flex-row gap-6 justify-center ">
    <li class="text-black"><a href="#home">Home</a></li>
    <li class="text-black"><a href="#about">About</a></li>
    <li class="text-black"><a href="#skills">Skills</a></li>
    <li class="text-black"><a href="#projects">Projects</a></li>
    <li class="text-black"><a href="#contact">Contact</a></li>
  </ul>
</nav>
