<nav class="fixed p-4 bg-cyan-50 top-0 left-0 right-0">
  <ul class="link-card flex flex-row gap-6 justify-center ">
    <li class="text-black"><a href="#top">Home</a></li>
    <li class="text-black"><a href="#About">About</a></li>
    <li class="text-black"><a href="#Skils">Skils</a></li>
    <li class="text-black"><a href="#Projects">Projects</a></li>
    <li class="text-black"><a href="#Contact">Contact</a></li>
  </ul>
</nav>
